body {
    --sb-track-color: #f1f1f1;
    --sb-thumb-color: #c1c1c1;
    --sb-size: 8px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}


.custom-alert {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}


.custom-alerts {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 9999;
}